body {
    background-color: #322d2d;
    color: white;
    font-size: 17px;
    font-family: monospace;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.container > div {
    margin-bottom: 7px;
}